

# dependencies
/courseinfo/node_modules
/courseinfo/.pnp
/courseinfo/.pnp.js

# testing
/courseinfo/coverage

# production
/courseinfo/build

# misc
/courseinfo/.DS_Store
/courseinfo/.env.local
/courseinfo/.env.development.local
/courseinfo/.env.test.local
/courseinfo/.env.production.local

/courseinfo/npm-debug.log*
/courseinfo/yarn-debug.log*
/courseinfo/yarn-error.log*

# dependencies
/unicafe/node_modules
/unicafe/.pnp
/unicafe/.pnp.js

# testing
/unicafe/coverage

# production
/unicafe/build

# misc
/unicafe/.DS_Store
/unicafe/.env.local
/unicafe/.env.development.local
/unicafe/.env.test.local
/unicafe/.env.production.local

/unicafe/npm-debug.log*
/unicafe/yarn-debug.log*
/unicafe/yarn-error.log*

